/*Name: Lucile PELOU
Student ID: 74526*/
h4 {
    font-weight: 500;
}

.table-wrapper {
    max-width: 885px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    margin: 2% 0% 0% 0%;
}

.table-container {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    max-width: 936px;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 1%;
}

.card {
    width: 18rem;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .5rem;
    padding: 1%;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}


.container-cards {
    padding: 1%;
    display: flex;
    overflow-x: auto;
    max-width: 905px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 5px;
    gap: 10px
}

.container-cards .card {
    flex: 0 0 auto;
    flex-shrink: 0;
}

.card a {
    font-size: 20px;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
    color: #094478;
}

.card-text {
    margin-top: 2%;
}

.modules-ui {
    padding: 2% 0% 0% 0%;
}

h1 {
    font-size: 30px;
}

.module-capsule {
    max-width: 936px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 2px solid #dedede;
    padding: 1%;
}

.table-header {
    padding: 0% 0% 0% 1%;
}

.table-container {
    display: grid;
    border: 2px solid #dedede;
    border-radius: 5px;
    padding: 1%;
}

.header-object {
    padding: 0%;
}

.header-padding {
    padding: 1%;
}

.header-courses select {
    padding: 0.5%;
    border-radius: 10px;
    background-color: #c3c3c3;
    border: 1px solid #b4b4b4;
}