/*Name: Lucile PELOU
Student ID: 74526*/
.general-exam {
    border-bottom: 1px solid #a7a7a7;
}

h5 {
    font-size: 1.25rem;
    font-weight: 500;
}

.details-exam-plus {
    padding: 1%;
}


.header-exam {
    display: inline-flex;
}

.header-exam a {
    text-decoration: none;
    color: #125997;
}

.header-exam a:hover {
    text-decoration: underline;
    color: #094478;
}