* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* --------------------------------- */
/* -------------- Nav -------------- */
/* --------------------------------- */

.nav {
    background-color: #bababa;
    padding: 1%
}

.nav-extend {
    align-items: center ! important;
    display: flex;
    gap: 2%;
}

.logo {
    width: 100px;
}

.item-nav {
    color: black;
    text-decoration: none;
    font-size: 17px;
}

.image-profile {
    margin-left: auto;
    align-items: center;
    display: relative;
}

.dropdown-toggle::after {
    content: "";
    margin-right: 0;
    margin-left: 4px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 9px;
    width: 9px;
    border: 0;
}

.image-profile .dropdown-toggle {
    cursor: pointer;
}

.dropdown {
    position: absolute;
    display: block;
    background-color: white;
    min-width: 230px;
    left: calc(100% - 10.5rem);
    min-width: 10rem;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}



.inside-dropdown {
    position: relative;
    display: inline-grid;
    cursor: pointer;
    min-width: 100%;
}

.item-dropdown {
    padding: 0% 5% 0% 5%;
    border-radius: 10px;
    padding-top: 5%;
}


.item-dropdown {
    padding-bottom: 5%;
}


.item-dropdown:hover {
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    width: 100%;
}

/* ----------------------------------- */
/* ---------- General table ---------- */
/* ----------------------------------- */

.table-wrapper {
    margin: 2%;
    border: 1px solid black;
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    table-layout: fixed;
}

.fl-table td,
.fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #c8c8c8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #324960;
}

.fl-table thead th:not(:last-child) {
    border-right: 1px solid #000000;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* ---------------------------------- */
/* ------------ Dialog -------------- */
/* ---------------------------------- */

form {
    text-align: center;
}

form h3 {
    justify-content: center;
}

dialog {
    .x {
        filter: grayscale(1);
        border: none;
        background: none;
        position: absolute;
        top: 15px;
        right: 10px;
        transition: ease filter, transform 0.3s;
        cursor: pointer;
        transform-origin: center;
    }
}

dialog {
    padding: 1%;
    margin: auto;
    min-width: 500px;
    max-width: 500px;
    border-radius: 12px;
    border: 1px solid #ccc;
}

dialog {
    .x {
        &:hover {
            filter: grayscale(0);
            transform: scale(1.1);
        }
    }
}

dialog button:not(.x) {
    margin-top: 2%;
    padding: 10px;
    cursor: pointer;
    background-color: #253fa9;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

dialog button:hover:not(.x) {
    background-color: #334e77;
}


dialog label {
    display: block;
    margin-bottom: 5px;
    display: flex;
}

dialog input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    padding: 8px;
}

dialog textarea {
    height: 100px;
    width: 100%;
    resize: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    padding: 8px;
    margin-bottom: 10px;
}


dialog select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
}

/* ---------------------------------- */
/* ---------- Add Button ------------ */
/* ---------------------------------- */

.add-button {
    cursor: pointer;
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 0% 1% 0% 1%
}

/* ----------------------------------- */
/* ------------- General ------------- */
/* ----------------------------------- */

.hidden {
    display: none;
}

td a {
    text-decoration: none;
    color: #125997;
}

td a:hover {
    text-decoration: underline;
    color: #094478;
}

/* ----------------------------------- */
/* ------- General disposition ------- */
/* ----------------------------------- */

.all-object {
    max-width: 830px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.nav-object {
    border-bottom: 1px solid #a7a7a7;
    align-items: center;
    display: flex;
    gap: 10px;
}

h1 {
    font-size: 32px;
    margin-bottom: 0.5%
}

.nav-object a {
    padding: 2%;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav-object a:hover {
    background-color: #f8f8f8;
}

.nav-object a.active {
    border-bottom: 2px solid black;
}



.header-object {
    display: flex;
    gap: 10px;
    padding: 1%;
    align-items: center ! important;
    border-bottom: 1px solid #a7a7a7;
}



.details-object {
    padding: 1%;
}

.details-object ul {
    padding: 2%;
}

.details-object h2 {
    font-size: 1.640625rem;
    font-weight: 700;
}


.list-objects a {
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: #0a101f
}

.list-objects a:hover {
    color: #324960;
}

.container-objects {
    padding: 1%;
}

.card-object,
.card-object {
    display: inline-block;
    border-bottom: 1px solid #a7a7a7;
    padding: 1%;
}

.card-object>*:not(:last-child),
.card-object>*:not(:last-child) {
    margin-bottom: 7px;
}

.list-objects,
.list-objects {
    display: grid;
    flex-wrap: wrap;
    gap: 4px;
}

.all-objects,
.all-objects {
    display: grid;
    border: 2px solid #dedede;
    border-radius: 5px;
    padding: 1%;
}


.edit-object {
    margin-left: 2%;
    cursor: pointer;
}

.delete-object {
    margin-left: 1%;
    cursor: pointer;
}

.final-part {
    margin-bottom: 3%;
}