h4 {
    font-weight: 500;
}

dialog {
    margin: auto;
}

.buttons-course {
    margin-left: auto;
    display: flex;
}

.button-object {
    cursor: pointer;
}

h3 {
    display: flex;
}

button {
    padding: 1%;
    cursor: pointer;
}

.delete-margin {
    margin-left: 10%;
}

.div-button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttonAddT {
    margin-top: 2%;
    padding: 10px;
    cursor: pointer;
    background-color: #253fa9;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: flex;
}

.buttonAddT:hover {
    background-color: #334e77;
}