h4 {
    font-weight: 500;
}

dialog {
    margin: auto;
}

.buttons-course {
    margin-left: auto;
    display: flex;
}

.button-object {
    cursor: pointer;
}

h3 {
    display: flex;
}

.buttonAdd {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

button {
    padding: 1%;
    cursor: pointer;
}

.delete-margin {
    margin-left: 10%;
}