h4 {
    font-size: 18px;
    font-weight: 650;
}

.all-profile {
    gap: 10px;
}

.details-profile,
.list-course,
.list-class {
    display: grid;
    border: 2px solid #dedede;
    border-radius: 5px;
    padding: 1%;
}

h5 {
    font-size: 15px;
    font-weight: 500;
}

li {
    list-style-type: none;

}

td a {
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
    color: rgb(36, 36, 118);
}

.edit-object {
    margin-left: 6%;
    cursor: pointer;
}

#h2-profile {
    display: block ruby;
}

.list-profile {
    padding: 1% 1% 0% 1%;
}

.delete-object {
    margin-left: 3%;
}