.table-wrapper {
    max-width: 885px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.table-container {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    max-width: 905px;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 1%;

}

body {
    background-color: #efefef;
}

.card {
    width: 18rem;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .5rem;
    padding: 1%;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}


.container-cards {
    padding: 1%;
    display: flex;
    overflow-x: auto;
    max-width: 905px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 5px;
    gap: 10px
}

.container-cards .card {
    flex: 0 0 auto;
    flex-shrink: 0;
}

.card a {
    font-size: 20px;
}

.card-text {
    margin-top: 2%;
}

.modules-ui {
    background-color: #efefef;
    padding: 2% 0% 0% 0%;
}

h1 {
    font-size: 22px;
}

.modules-header {
    display: flex;
    gap: 10px;
    padding: 1% 1% 0% 1%;
    align-items: center ! important;
}

.module-capsule {
    max-width: 905px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 5px;
}

.addModuleButton {
    width: fit-content;
}

.table-header {
    padding: 1%;
}