* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    background-color: white;
}

.all-exam {
    max-width: 830px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}


.nav-exam {
    border-bottom: 1px solid #a7a7a7;
}

h1 {
    font-size: 32px;
    margin-bottom: 1%
}

.nav-exam a {
    padding: 2%;
}

.nav-exam {
    align-items: center;
    display: flex;
    gap: 10px;
}

.nav-exam a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav-exam a:hover {
    background-color: #f8f8f8;
}

.nav-exam a.active {
    border-bottom: 2px solid black;
}

h1 {
    font-size: 32px;
    margin-bottom: 1%
}

.change-type .active {
    border-bottom: 2px solid black;
}

.details-exam {
    padding: 1%;
}

.general-exam {
    border-bottom: 1px solid #a7a7a7;
}

.details-exam ul {
    padding: 2%;
}

.details-exam h2 {
    font-size: 1.640625rem;
    font-weight: 700;
}

h5 {
    font-size: 1.25rem;
    font-weight: 500;
}

.details-exam-plus {
    padding: 1%;
}

.edit-exam-i {
    margin-left: 2%;
    cursor: pointer;
}