* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    background-color: white;
}

.all-module {
    max-width: 830px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.nav-module {
    border-bottom: 1px solid #a7a7a7;
}

h1 {
    font-size: 32px;
    margin-bottom: 1%
}

.nav-module a {
    padding: 2%;
}

.nav-module {
    align-items: center;
    display: flex;
    gap: 10px;
}

.nav-module a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav-module a:hover {
    background-color: #f8f8f8;
}

.nav-module a.active {
    border-bottom: 2px solid black;
}

.details-module {
    padding: 1%;
}

.details-module ul {
    padding: 2%;
}

.details-module h2 {
    font-size: 1.640625rem;
    font-weight: 700;
}

dialog {
    margin: auto;
}

.card-course,
.card-exam {
    display: inline-block;
    border-bottom: 1px solid #a7a7a7;
    padding: 1%;
}

.card-course>*:not(:last-child),
.card-exam>*:not(:last-child) {
    margin-bottom: 7px;
}

.list-courses,
.list-exams {
    display: grid;
    flex-wrap: wrap;
    gap: 4px;
}

.all-courses,
.all-exams {
    display: grid;
    border: 2px solid #dedede;
    border-radius: 5px;
    padding: 1%;
}

h4 {
    font-weight: 500;
}

.header-courses {
    display: flex;
    gap: 10px;
    padding: 1%;
    align-items: center ! important;
    border-bottom: 1px solid #a7a7a7;
}

.container-exams {
    padding: 1%;
}



.list-exams a {
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: #0a101f
}

.list-exams a:hover {
    color: #324960;
}

.edit-module {
    margin-left: auto;
    cursor: pointer;
}

h3 {
    display: flex;
}

.buttonAdd {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

button {
    padding: 1%;
    cursor: pointer;
}